.alert{
    margin: 10px;
}
.close {
    float: right;
}

.logo{
    height: 80px;
    width: auto;
}

.logo-img {
    height: 90%;
    width: auto;
    padding: 10px 0;
    padding-left: 10px;
}

.second-navbar {
    height: 30px;
    padding-left: 10px;
}

nav.navbar:nth-child(1) {
    padding-top: 0px;
    padding-bottom: 0px;
}

.float-right {
    position: absolute;
    right: 15px;
}
a.nav-right-link {
    width: 70px;
    margin-right: 15px;
    text-decoration: none; 
    
}

a.nav-right-link:hover {
    text-decoration: underline;
}
.login-logo {
    width: auto;
    height: 150px;
    margin-bottom: 10px;
    
}
.login-logo-div{
    margin-top:15px;
    text-align: center;
}

.login-page {
    width: auto;
    padding: 0 20%;
}

.btn {
    margin-top: 5px;
}

.bookView {
    height: auto;
    display: inline-block;
    margin-top: 10px;
    width: 200px;
    text-align: center;
}
.bookView h3 {
    width: 200px;
}

.bookView p {
    width: 200px;
}

.bookView .img {
    height: 100%;
    
}

.welcome-page h1 {
    text-align: center;
    margin-top: 10px;
}

.welcome-page p {
    margin: 0 10%;
}


@media ( max-width: 1000px ) {
    a.nav-right-link {
        left: 92%;
    }

    .login-page {
        padding:0;
    }

    .login-logo {
        height: 100px;
    }
}

@media ( max-width: 600px ) {
    a.nav-right-link {
        left: 88%;
    }
}
