.shadow {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 3;
    display: none;
}

.pop-up {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 300px;
    height: 500px;
    border: white solid 2px;
    border-radius:  5px;
    z-index: 4;
}

.comment {
    width: 100%;
    margin: 10px;
}

section {
    margin-bottom: 15px;
}

.welcome-img-right {
    float:right;
}

.welcome-img-left {
    float:left;
}

.book-info {
    display: flex;
    margin-top: 10px;
}

.book-info-img{
    width: 200px;
    height: 300px;
    border-radius: 5px;
}

.book-info-content {
    margin-left: 10px;
}

.book-info-content p {
    padding: 10px;
}

.alert{
    margin: 10px;
}
.close {
    float: right;
}

.logo{
    height: 80px;
    width: auto;
}

.logo-img {
    height: 90%;
    width: auto;
    padding: 10px 0;
    padding-left: 10px;
}

.second-navbar {
    height: 30px;
    padding-left: 10px;
}

.navbarik-link {
    text-decoration: none;
    
}

.navbarik-item {
    list-style: none;
    height: 30px;
    display: inline;
    margin-bottom: 14px;
    padding-left: 10px;
}

nav.navbar:nth-child(1) {
    padding-top: 0px;
    padding-bottom: 0px;
}

.float-right {
    position: absolute;
    right: 15px;
}
a.nav-right-link {
    width: 70px;
    margin-right: 15px;
    text-decoration: none; 
    
}

a.nav-right-link:hover {
    text-decoration: underline;
}
.login-logo {
    width: auto;
    height: 150px;
    margin-bottom: 10px;
    
}
.login-logo-div{
    margin-top:15px;
    text-align: center;
}

.login-page {
    width: auto;
    padding: 0 20%;
}

.btn {
    margin-top: 5px;
}

.bookView {
    height: auto;
    display: inline-block;
    margin-top: 10px;
    width: 20%;
    text-align: center;
    margin-right: 20px;
}
.bookView h3 {
    width: 200px;
}

.bookView p {
    width: 200px;
}

.bookView .img img{
    height: 300px;
    width: 200px;
}

.bookView .img {
    width: 300px;
}

.book-info-content p {
    width: 40%;
}

.welcome-page h1 {
    text-align: center;
    margin-top: 10px;
}

.welcome-page p {
    margin: 0 10%;
}


@media ( max-width: 1000px ) {
    a.nav-right-link {
        left: 92%;
    }

    .login-page {
        padding:0;
    }

    .login-logo {
        height: 100px;
    }
}

@media ( max-width: 600px ) {
    a.nav-right-link {
        left: 88%;
    }
}
